#ClubInfoContainer{
    border: 2px solid grey;
    height: 250px;
    background-color: lightgray;
}

#ClubInfoText {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    height: 150px
}

#ClubNameText {
    font-size: 35px;
    padding-top: 10px;
    padding-left: 5px;
    display: inline-block;
    width: 40%
}

#ClubButtons {
    float: right;
    margin-top: 20px;
    margin-right: 20px
}