
#mainDiv #bannerImgDiv{
    width: fit-content;
    
}

#userProfilePageInfo{
    position: relative;
    margin: 2px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    left: 50px;
    top: 150px;
}

#checkboxDiv{
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 500px;
    top: -420px;
}

#timelineOptsHeader{
    position: relative;
    top: -25px;
}

#mainHeader{
    left: 35px;
    top: -15px;
    position: relative;
}

#mainDiv #profileImg{
    position: relative;
    display: inline-block;
    left: 43.8%;
    top: -10%;
}

