
.feedsContainer{
    width: fit-content;
    height: fit-content;
    min-width: 800px;
    min-height: 400px;
    position: absolute;
    top: 200px;
    left: 30%;
}

.msgSpan{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.listElement{
    list-style-type: none;
}

#timelineHeader{
    width: fit-content;
    height: fit-content;
    top: 15%;
    left: 53%;
    transform: translate(-50%, 0%);
    display: block;
    position: absolute;
    margin-top: 20px;
    margin-bottom: 20px;
}

#loadingDiv{
    top:20%;
    left:43%
}
#notFollowingTxt{
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 50%;
    top: 50%;
    min-width: 200px;
    min-height: 50px;
    transform: translate(-50%, -50%)
}

#mainDiv{
    width: fit-content;
    height: fit-content;
    max-width: 90%;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    min-width: 800px;
}