.logInForm_signInHeader{
    text-align: center;
    position: relative;
    top: 18px;
}

.logInForm_logInFormGrid{
    position: relative;
}

.logInForm{
    left: 50%;
    top: 50%;
}

.logInForm_buttonDiv{
    position: static;
    display: block;
    align-self: center;
}

.logInForm_buttonDiv_signInButton{
    font-size: small;
    width: 166px;
}

.logInForm_buttonDiv_CreateAccLink{
    font-size: small;
    top: 10px;
}

.logInForm_link{
    text-decoration: none;
}

#logInForm_incorrectCredPrompt{
    color: red;
    align-self: center;
    position: absolute;
    top: 150px;
}

#logInForm_bannedPrompt{
    color: red;
    align-self: center;
    position: absolute;
    top: 150px;
}

