.mainTitle{
  text-align: center;
}

#container{
	position: relative;
	top:12vh;
}	

.notUnderlined{
	text-decoration: none;
}

.button{
	margin: 5px; 
}

.clubText {
	margin-right: 15px;
	position: relative;
}