.logInForm_signInHeader{
    text-align: center;
    position: relative;
    top: 30px;
}

.logInForm_logInFormGrid{
    position: relative;
}

.logInForm{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logInForm_CreateAccLink{
    position: relative;
    top: -75px;
    left: -6px;
    font-size: small;
}

