.SignInHeader{
    text-align: center;
}

.LogInFormGrid{
    position: relative;
}

.LogInForm{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.LogInButton{
    top: 20px;
}