
#mainDiv #bannerImgDiv{
    width: 100vw;
    height: 30vh;
    max-width: 100%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: block;
    position: relative;
    margin-top: 10vh;
}

#userProfilePageInfo{
    position: relative;
    margin: 2px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    left: 50px;
    top: 5vh;
}

#checkboxDiv{
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 500px;
    top: -465px;
}

#timelineOptsHeader{
    position: relative;
    top: -25px;
}

#mainDiv #profileImg{
    position: absolute;
    display: inline-block;
    left: 43.85%;
    top: 30%;
}

